<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133915072936-ap6bfbjng5qr9hcgvvs4h2fdcdssj5mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133915072936-ap6bfbjng5qr9hcgvvs4h2fdcdssj5mc</string>
	<key>API_KEY</key>
	<string>AIzaSyAlC3P1Zzo8P3C4U3VCCS78djEnHOCxEiU</string>
	<key>GCM_SENDER_ID</key>
	<string>133915072936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alekseii.popkov.pwd</string>
	<key>PROJECT_ID</key>
	<string>notesstorage-374314</string>
	<key>STORAGE_BUCKET</key>
	<string>notesstorage-374314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133915072936:ios:6def13fcf993bb626de59d</string>
</dict>
</plist>